{% extends "basic.html" %}
{% block page_title %}{% if show %}{{ show.display_name|default:show.name }} by {{ show.host.twitch_username }}{% endif %}{% endblock %}
{% block page_name %}{% if show %}{{ show.display_name|default:show.name }} by {{ show.host.twitch_username }}{% endif %}{% endblock %}
{% block content %}
This is the management interface your show, <a href='../'>click here</a> for the viewer interface.<br/>
<br/>
<script>
function doCopy() {
  var field = document.getElementById("authSecret");
  field.select();
  field.setSelectionRange(0, 100);
  navigator.clipboard.writeText(field.value);
  document.getElementById("copiedNotice").classList.remove("hidden");
}
function finish_edit() {
  unmodal();
  window.addEventListener("focus", (event) => { dt.ajax.reload(null, false); }, { once: true });
}
</script>
<input type="text" value="{{ show.minecraft_auth_secret }}" style="display: none" id=authSecret>
<button onclick="doCopy()">Copy Minecraft authentication secret
<div class="hidden" id=copiedNotice>Copied!</div></button>
<h3 class="collapser" onclick="collapse(this)">Manage regions</h3>
<div class="collapsed" style="margin-top: -2em">
<div class="modal hidden" id="region_modal">
  <form action="edit_region" method="post" target="_blank" onsubmit="finish_edit(); return true">
  {% csrf_token %}
  <input type="hidden" name="region_old_name" id="region_old_name">
  <table>
  {{ region_form }}
  <tr><th></th><td><input type="submit" value="Modify Region"></td></tr>
  </table>
  </form>
</div>
<table id="region-list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start X</th>
            <th>Start Y</th>
            <th>Start Z</th>
            <th>End X</th>
            <th>End Y</th>
            <th>End Z</th>
            <th>Size X</th>
            <th>Size Y</th>
            <th>Size Z</th>
            <th>Total Blocks</th>
            <th>Tags</th>
        </tr>
    </thead>
</table>
<script>
  let table = document.getElementById("region-list");
  let dt = new DataTable(table, {
    dom: "Bfrtip",
    buttons: [
      'colvis',
      {
        text: 'Reload',
        action: function ( e, dt, node, config ) {
          dt.ajax.reload();
        }
      }
    ],
    columnDefs: [
      {targets: [10], visible: true, searchable: false, sortable: false},
      {targets: [0,11], visible: true, searchable: true, sortable: true},
      {targets: '_all', visible:false, searchable: false, sortable: false}
    ],
    sAjaxSource: "../fetch_regions",
    serverSide: true,
  });
  table.onclick = (e) => {
    let row = e.target?._DT_CellIndex?.row;
    if (row === undefined) {
      return;
    }
    let data = dt.rows(row).data()[0];
    document.getElementById("region_old_name").value = data[0];
    document.getElementById("region_name").value = data[0];
    document.getElementById("region_start_x").value = data[1];
    document.getElementById("region_start_y").value = data[2];
    document.getElementById("region_start_z").value = data[3];
    document.getElementById("region_end_x").value = data[4];
    document.getElementById("region_end_y").value = data[5];
    document.getElementById("region_end_z").value = data[6];
    document.getElementById("region_tags").value = data[11];
    modal(document.getElementById("region_modal"));
  };
</script>
</div>
{% endblock %}
